.header {
    position: fixed;
    top: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 80px;
    height: 100%;
    padding: 15px 5px 30px;
    background-color: #012677;
}

.header_nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.header_nav img {
    width: 100%;
    height: 50px;
}

.header_nav_list {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.header_nav_list li a {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 8px;
    width: 80px;
    padding: 10px 5px;
    border-radius: 15px 0 0 15px;
}

.create_login {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 25px;
}

.create_login span{
    color: white;
}

.is-active {
    background-color: #ffffff;
    border-radius: 0;
    color: black;
}

.create_login__option {
    position: absolute;
    left: 80px;
    display: none;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    gap: 8px;
    width: 140px;
    height: 70px;
    padding: 10px;
    background-color: white;
    border-radius: 0 10px 10px 0;
    color: black;
}

.create_login__span_active {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80px;
    height: 70px;
    background-color: white;
    color: black;
}

.create_login__option a {
    cursor: pointer;
    color: black;
}

.create_login__option a:hover {
    font-weight: bold;
}