.navegation_in_page {
    position: fixed;
    top: 50%;
    right: 0;
    transform: translate(-20px,-50%);
}

.navegation_in_page_nav_list {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.navegation_in_page_nav_list li a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25px;
    height: 25px;
    background-color: rgb(255, 255, 255);
    border-radius: 50px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.651);
}

.navegation_in_page_nav_list li:hover {
    transform: scale(115%);
}

.navegation_in_page_nav_list li .link_to_footer {
    width: 19px;
    height: 19px;
}